<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    Options +Indexes
    RewriteEngine on
	
	RewriteCond %{HTTP_HOST} ^www.sotipsy.com [NC]
	RewriteRule ^(.*)$ https://sotipsy.com/$1 [L,R=301]

    # test string is a valid files
    RewriteCond %{SCRIPT_FILENAME} !-f
    # test string is a valid directory
    RewriteCond %{SCRIPT_FILENAME} !-d
    
    RewriteRule ^(.*)$   index.php?uri=/$1    [NC,L,QSA]
</IfModule>